.form-container {
    display: flex;
    align-items: center;
    width: 350px;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
    flex-direction: column;
}

.form {
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
